In [96]:
import pandas as pd

veri_seti = pd.read_csv("train.csv")

veri_seti.head()

C:\Users\user\AppData\Local\Temp\ipykernel_9316\1642514824.py:3: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  veri_seti = pd.read_csv("train.csv")

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [97]:
veri_seti.columns

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')

In [98]:
veri_seti = veri_seti.drop(columns= ["ID", "Customer_ID", "Month", "Name", "SSN"])

In [99]:
veri_seti.head()

,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,23,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,23,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",-1,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,-500,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,23,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",5,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,23,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",6,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [100]:
veri_seti.dtypes

Age                          object
Occupation                   object
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance              object
Credit_Score                 object
dtype: object

In [101]:
veri_seti = veri_seti.dropna()

In [102]:
veri_seti

,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,23,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
6,23,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
8,28_,_______,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,3,...,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104.291825168246,Low_spent_Small_value_payments,470.69062692529184,Standard
9,28,Teacher,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,7,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,High_spent_Large_value_payments,484.5912142650067,Good
10,28,Teacher,34847.84_,3037.986667,2,1385,6,1,Credit-Builder Loan,3,...,_,605.03,33.224951,26 Years and 9 Months,No,18.816215,58.51597569589465,High_spent_Large_value_payments,466.46647639764313,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,25,Mechanic,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",20,...,_,502.38,39.323569,31 Years and 5 Months,No,35.104023,140.58140274528395,High_spent_Medium_value_payments,410.256158,Poor
99995,25,Mechanic,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",23,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
99996,25,Mechanic,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",18,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
99997,25,Mechanic,39628.99,3359.415833,4,6,5729,2,"Auto Loan, and Student Loan",27,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
99999,25,Mechanic,39628.99_,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",18,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [103]:
veri_seti.dtypes

Age                          object
Occupation                   object
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance              object
Credit_Score                 object
dtype: object

In [104]:
veri_seti['Age'] = veri_seti['Age'].str.replace('_', '').astype(int)

In [105]:
veri_seti

,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,23,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
6,23,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
8,28,_______,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,3,...,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104.291825168246,Low_spent_Small_value_payments,470.69062692529184,Standard
9,28,Teacher,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,7,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,High_spent_Large_value_payments,484.5912142650067,Good
10,28,Teacher,34847.84_,3037.986667,2,1385,6,1,Credit-Builder Loan,3,...,_,605.03,33.224951,26 Years and 9 Months,No,18.816215,58.51597569589465,High_spent_Large_value_payments,466.46647639764313,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,25,Mechanic,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",20,...,_,502.38,39.323569,31 Years and 5 Months,No,35.104023,140.58140274528395,High_spent_Medium_value_payments,410.256158,Poor
99995,25,Mechanic,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",23,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
99996,25,Mechanic,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",18,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
99997,25,Mechanic,39628.99,3359.415833,4,6,5729,2,"Auto Loan, and Student Loan",27,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
99999,25,Mechanic,39628.99_,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",18,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [106]:
veri_seti = veri_seti.apply(lambda x: x.str.replace('_', '') if x.dtype == 'object' else x)

In [107]:
veri_seti

,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,23,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,...,,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,HighspentSmallvaluepayments,312.49408867943663,Good
6,23,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,LowspentSmallvaluepayments,244.5653167062043,Good
8,28,,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,3,...,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104.291825168246,LowspentSmallvaluepayments,470.69062692529184,Standard
9,28,Teacher,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,7,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,HighspentLargevaluepayments,484.5912142650067,Good
10,28,Teacher,34847.84,3037.986667,2,1385,6,1,Credit-Builder Loan,3,...,,605.03,33.224951,26 Years and 9 Months,No,18.816215,58.51597569589465,HighspentLargevaluepayments,466.46647639764313,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,25,Mechanic,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",20,...,,502.38,39.323569,31 Years and 5 Months,No,35.104023,140.58140274528395,HighspentMediumvaluepayments,NaN,Poor
99995,25,Mechanic,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",23,...,,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,HighspentLargevaluepayments,NaN,Poor
99996,25,Mechanic,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",18,...,,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,HighspentMediumvaluepayments,NaN,Poor
99997,25,Mechanic,39628.99,3359.415833,4,6,5729,2,"Auto Loan, and Student Loan",27,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,HighspentLargevaluepayments,NaN,Poor
99999,25,Mechanic,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",18,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,NaN,Poor

In [108]:
veri_seti = veri_seti.dropna()

In [109]:
veri_seti

,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,23,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,...,,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,HighspentSmallvaluepayments,312.49408867943663,Good
6,23,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,LowspentSmallvaluepayments,244.5653167062043,Good
8,28,,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,3,...,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104.291825168246,LowspentSmallvaluepayments,470.69062692529184,Standard
9,28,Teacher,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,7,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,HighspentLargevaluepayments,484.5912142650067,Good
10,28,Teacher,34847.84,3037.986667,2,1385,6,1,Credit-Builder Loan,3,...,,605.03,33.224951,26 Years and 9 Months,No,18.816215,58.51597569589465,HighspentLargevaluepayments,466.46647639764313,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98296,38,Lawyer,41015.55,3152.962500,0,4,2510,1,Payday Loan,9,...,,599.4,31.469081,24 Years and 11 Months,No,25.671257,232.90990896795958,LowspentSmallvaluepayments,346.7150840133413,Standard
98298,38,Lawyer,41015.55,3152.962500,0,4,4,1,Payday Loan,9,...,,599.4,30.760830,25 Years and 1 Months,No,25.671257,10000,LowspentSmallvaluepayments,178.32714237042927,Standard
98299,38,Lawyer,41015.55,3152.962500,0,4,4,1,Payday Loan,9,...,Good,599.4,31.936092,25 Years and 2 Months,NM,25.671257,387.5414392986354,LowspentSmallvaluepayments,192.0835536826656,Standard
98300,38,Lawyer,41015.55,3152.962500,1194,4,4,1,Payday Loan,9,...,Good,599.4,26.268474,25 Years and 3 Months,No,25.671257,76.0572180026272,HighspentLargevaluepayments,453.5677749786737,Standard
98303,38,Lawyer,41015.55,3152.962500,0,4,4,1,Payday Loan,9,...,Good,599.4,31.356267,25 Years and 6 Months,No,25.671257,10000,LowspentSmallvaluepayments,214.61493361875802,Standard

In [110]:
veri_seti.replace(" ", "", inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_9316\2885483946.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veri_seti.replace(" ", "", inplace=True)

In [111]:
veri_seti

,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,23,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,...,,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,HighspentSmallvaluepayments,312.49408867943663,Good
6,23,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,LowspentSmallvaluepayments,244.5653167062043,Good
8,28,,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,3,...,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104.291825168246,LowspentSmallvaluepayments,470.69062692529184,Standard
9,28,Teacher,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,7,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,HighspentLargevaluepayments,484.5912142650067,Good
10,28,Teacher,34847.84,3037.986667,2,1385,6,1,Credit-Builder Loan,3,...,,605.03,33.224951,26 Years and 9 Months,No,18.816215,58.51597569589465,HighspentLargevaluepayments,466.46647639764313,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98296,38,Lawyer,41015.55,3152.962500,0,4,2510,1,Payday Loan,9,...,,599.4,31.469081,24 Years and 11 Months,No,25.671257,232.90990896795958,LowspentSmallvaluepayments,346.7150840133413,Standard
98298,38,Lawyer,41015.55,3152.962500,0,4,4,1,Payday Loan,9,...,,599.4,30.760830,25 Years and 1 Months,No,25.671257,10000,LowspentSmallvaluepayments,178.32714237042927,Standard
98299,38,Lawyer,41015.55,3152.962500,0,4,4,1,Payday Loan,9,...,Good,599.4,31.936092,25 Years and 2 Months,NM,25.671257,387.5414392986354,LowspentSmallvaluepayments,192.0835536826656,Standard
98300,38,Lawyer,41015.55,3152.962500,1194,4,4,1,Payday Loan,9,...,Good,599.4,26.268474,25 Years and 3 Months,No,25.671257,76.0572180026272,HighspentLargevaluepayments,453.5677749786737,Standard
98303,38,Lawyer,41015.55,3152.962500,0,4,4,1,Payday Loan,9,...,Good,599.4,31.356267,25 Years and 6 Months,No,25.671257,10000,LowspentSmallvaluepayments,214.61493361875802,Standard

In [113]:
veri_seti.replace('', pd.NA, inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_9316\714469100.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veri_seti.replace('', pd.NA, inplace=True)

In [114]:
veri_seti

,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,23,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,...,<NA>,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,HighspentSmallvaluepayments,312.49408867943663,Good
6,23,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,LowspentSmallvaluepayments,244.5653167062043,Good
8,28,<NA>,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,3,...,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104.291825168246,LowspentSmallvaluepayments,470.69062692529184,Standard
9,28,Teacher,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,7,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,HighspentLargevaluepayments,484.5912142650067,Good
10,28,Teacher,34847.84,3037.986667,2,1385,6,1,Credit-Builder Loan,3,...,<NA>,605.03,33.224951,26 Years and 9 Months,No,18.816215,58.51597569589465,HighspentLargevaluepayments,466.46647639764313,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98296,38,Lawyer,41015.55,3152.962500,0,4,2510,1,Payday Loan,9,...,<NA>,599.4,31.469081,24 Years and 11 Months,No,25.671257,232.90990896795958,LowspentSmallvaluepayments,346.7150840133413,Standard
98298,38,Lawyer,41015.55,3152.962500,0,4,4,1,Payday Loan,9,...,<NA>,599.4,30.760830,25 Years and 1 Months,No,25.671257,10000,LowspentSmallvaluepayments,178.32714237042927,Standard
98299,38,Lawyer,41015.55,3152.962500,0,4,4,1,Payday Loan,9,...,Good,599.4,31.936092,25 Years and 2 Months,NM,25.671257,387.5414392986354,LowspentSmallvaluepayments,192.0835536826656,Standard
98300,38,Lawyer,41015.55,3152.962500,1194,4,4,1,Payday Loan,9,...,Good,599.4,26.268474,25 Years and 3 Months,No,25.671257,76.0572180026272,HighspentLargevaluepayments,453.5677749786737,Standard
98303,38,Lawyer,41015.55,3152.962500,0,4,4,1,Payday Loan,9,...,Good,599.4,31.356267,25 Years and 6 Months,No,25.671257,10000,LowspentSmallvaluepayments,214.61493361875802,Standard

In [115]:
veri_seti = veri_seti.dropna()

In [116]:
veri_seti

,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
6,23,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,LowspentSmallvaluepayments,244.5653167062043,Good
9,28,Teacher,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,7,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,HighspentLargevaluepayments,484.5912142650067,Good
12,28,Teacher,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,3,...,Good,605.03,34.977895,26 Years and 11 Months,No,18.816215,130.11542024292334,LowspentSmallvaluepayments,444.8670318506144,Good
13,28,Teacher,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,3,...,Good,605.03,33.381010,27 Years and 0 Months,No,18.816215,43.477190144355745,HighspentLargevaluepayments,481.505261949182,Good
15,28,Teacher,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,3,...,Good,605.03,32.933856,27 Years and 2 Months,No,18.816215,218.90434353388733,LowspentSmallvaluepayments,356.07810855965045,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98280,31,Developer,28796.82,2378.735000,6,6,21,5,"Student Loan, Payday Loan, Payday Loan, Person...",28,...,Bad,2382.35,35.168085,5 Years and 11 Months,Yes,82.235220,226.65527284680897,LowspentMediumvaluepayments,208.98300740656651,Poor
98285,32,Developer,28796.82,2378.735000,6,6,21,5,"Student Loan, Payday Loan, Payday Loan, Person...",30,...,Bad,2382.35,25.562788,6 Years and 4 Months,Yes,82.235220,59.38608025863144,HighspentLargevaluepayments,336.25219999474405,Standard
98299,38,Lawyer,41015.55,3152.962500,0,4,4,1,Payday Loan,9,...,Good,599.4,31.936092,25 Years and 2 Months,NM,25.671257,387.5414392986354,LowspentSmallvaluepayments,192.0835536826656,Standard
98300,38,Lawyer,41015.55,3152.962500,1194,4,4,1,Payday Loan,9,...,Good,599.4,26.268474,25 Years and 3 Months,No,25.671257,76.0572180026272,HighspentLargevaluepayments,453.5677749786737,Standard
98303,38,Lawyer,41015.55,3152.962500,0,4,4,1,Payday Loan,9,...,Good,599.4,31.356267,25 Years and 6 Months,No,25.671257,10000,LowspentSmallvaluepayments,214.61493361875802,Standard

In [117]:
veri_seti[["Annual_Income", "Num_of_Loan", "Num_of_Delayed_Payment", "Changed_Credit_Limit", "Outstanding_Debt"]] = veri_seti[["Annual_Income", "Num_of_Loan", "Num_of_Delayed_Payment", "Changed_Credit_Limit", "Outstanding_Debt"]].astype(float)

C:\Users\user\AppData\Local\Temp\ipykernel_9316\1674419212.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veri_seti[["Annual_Income", "Num_of_Loan", "Num_of_Delayed_Payment", "Changed_Credit_Limit", "Outstanding_Debt"]] = veri_seti[["Annual_Income", "Num_of_Loan", "Num_of_Delayed_Payment", "Changed_Credit_Limit", "Outstanding_Debt"]].astype(float)

In [118]:
veri_seti[["Amount_invested_monthly", "Monthly_Balance"]] = veri_seti[["Amount_invested_monthly", "Monthly_Balance"]].astype(float)

C:\Users\user\AppData\Local\Temp\ipykernel_9316\3272979303.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veri_seti[["Amount_invested_monthly", "Monthly_Balance"]] = veri_seti[["Amount_invested_monthly", "Monthly_Balance"]].astype(float)

In [119]:
veri_seti.dtypes

Age                           int32
Occupation                   object
Annual_Income               float64
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                 float64
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment      float64
Changed_Credit_Limit        float64
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt            float64
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly     float64
Payment_Behaviour            object
Monthly_Balance             float64
Credit_Score                 object
dtype: object

In [125]:
veri_seti["Occupation"].value_counts()

Occupation
Lawyer          3030
Mechanic        2910
Doctor          2869
Architect       2860
Accountant      2851
Teacher         2842
Entrepreneur    2837
Scientist       2832
MediaManager    2824
Engineer        2820
Developer       2814
Musician        2686
Journalist      2682
Manager         2656
Writer          2633
Name: count, dtype: int64

In [126]:
veri_seti["Type_of_Loan"].value_counts()

Type_of_Loan
Not Specified                                                                                                              640
Credit-Builder Loan                                                                                                        637
Personal Loan                                                                                                              628
Student Loan                                                                                                               605
Debt Consolidation Loan                                                                                                    595
                                                                                                                          ...
Debt Consolidation Loan, Credit-Builder Loan, Debt Consolidation Loan, and Home Equity Loan                                  1
Home Equity Loan, Not Specified, Not Specified, Mortgage Loan, Debt Consolidation Loan, and Mortgage Loan                    1
Mortgage Loan, Debt Consolidation Loan, Debt Consolidation Loan, Not Specified, Payday Loan, and Payday Loan                 1
Not Specified, Home Equity Loan, Debt Consolidation Loan, Auto Loan, Not Specified, Not Specified, and Home Equity Loan      1
Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan                                                          1
Name: count, Length: 6139, dtype: int64

In [127]:
veri_seti["Credit_Mix"].value_counts()

Credit_Mix
Standard    19414
Good        11506
Bad         11226
Name: count, dtype: int64

In [128]:
veri_seti["Credit_History_Age"].value_counts()

Credit_History_Age
19 Years and 5 Months     219
18 Years and 4 Months     212
18 Years and 11 Months    207
15 Years and 11 Months    206
18 Years and 2 Months     203
                         ...
0 Years and 3 Months        9
0 Years and 2 Months        8
33 Years and 7 Months       8
33 Years and 8 Months       7
0 Years and 1 Months        1
Name: count, Length: 404, dtype: int64

In [129]:
veri_seti["Payment_of_Min_Amount"].value_counts()

Payment_of_Min_Amount
Yes    23534
No     13587
NM      5025
Name: count, dtype: int64

In [130]:
veri_seti["Payment_Behaviour"].value_counts()

Payment_Behaviour
LowspentSmallvaluepayments      10799
HighspentMediumvaluepayments     7486
HighspentLargevaluepayments      5799
LowspentMediumvaluepayments      5770
HighspentSmallvaluepayments      4780
LowspentLargevaluepayments       4412
!@9#%8                           3100
Name: count, dtype: int64

In [62]:
object_sutunlar = veri_seti.select_dtypes(include=['object']).columns
veri_seti[object_sutunlar] = veri_seti[object_sutunlar].astype('category')

C:\Users\user\AppData\Local\Temp\ipykernel_9316\672990654.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veri_seti[object_sutunlar] = veri_seti[object_sutunlar].astype('category')

In [63]:
veri_seti["Credit_Score"] = veri_seti["Credit_Score"].astype("object")

C:\Users\user\AppData\Local\Temp\ipykernel_9316\1354843241.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veri_seti["Credit_Score"] = veri_seti["Credit_Score"].astype("object")

In [64]:
veri_seti.dtypes

Age                            int32
Occupation                  category
Annual_Income                float64
Monthly_Inhand_Salary        float64
Num_Bank_Accounts              int64
Num_Credit_Card                int64
Interest_Rate                  int64
Num_of_Loan                  float64
Type_of_Loan                category
Delay_from_due_date            int64
Num_of_Delayed_Payment       float64
Changed_Credit_Limit         float64
Num_Credit_Inquiries         float64
Credit_Mix                  category
Outstanding_Debt             float64
Credit_Utilization_Ratio     float64
Credit_History_Age          category
Payment_of_Min_Amount       category
Total_EMI_per_month          float64
Amount_invested_monthly      float64
Payment_Behaviour           category
Monthly_Balance              float64
Credit_Score                  object
dtype: object

In [65]:
veri_seti

,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
6,23,Scientist,19114.12,1824.843333,3,4,3,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.344067,LowspentSmallvaluepayments,244.565317,Good
9,28,Teacher,34847.84,3037.986667,2,4,6,1.0,Credit-Builder Loan,7,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.391238,HighspentLargevaluepayments,484.591214,Good
12,28,Teacher,34847.84,3037.986667,2,4,6,1.0,Credit-Builder Loan,3,...,Good,605.03,34.977895,26 Years and 11 Months,No,18.816215,130.115420,LowspentSmallvaluepayments,444.867032,Good
13,28,Teacher,34847.84,3037.986667,2,4,6,1.0,Credit-Builder Loan,3,...,Good,605.03,33.381010,27 Years and 0 Months,No,18.816215,43.477190,HighspentLargevaluepayments,481.505262,Good
15,28,Teacher,34847.84,3037.986667,2,4,6,1.0,Credit-Builder Loan,3,...,Good,605.03,32.933856,27 Years and 2 Months,No,18.816215,218.904344,LowspentSmallvaluepayments,356.078109,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98280,31,Developer,28796.82,2378.735000,6,6,21,5.0,"Student Loan, Payday Loan, Payday Loan, Person...",28,...,Bad,2382.35,35.168085,5 Years and 11 Months,Yes,82.235220,226.655273,LowspentMediumvaluepayments,208.983007,Poor
98285,32,Developer,28796.82,2378.735000,6,6,21,5.0,"Student Loan, Payday Loan, Payday Loan, Person...",30,...,Bad,2382.35,25.562788,6 Years and 4 Months,Yes,82.235220,59.386080,HighspentLargevaluepayments,336.252200,Standard
98299,38,Lawyer,41015.55,3152.962500,0,4,4,1.0,Payday Loan,9,...,Good,599.40,31.936092,25 Years and 2 Months,NM,25.671257,387.541439,LowspentSmallvaluepayments,192.083554,Standard
98300,38,Lawyer,41015.55,3152.962500,1194,4,4,1.0,Payday Loan,9,...,Good,599.40,26.268474,25 Years and 3 Months,No,25.671257,76.057218,HighspentLargevaluepayments,453.567775,Standard
98303,38,Lawyer,41015.55,3152.962500,0,4,4,1.0,Payday Loan,9,...,Good,599.40,31.356267,25 Years and 6 Months,No,25.671257,10000.000000,LowspentSmallvaluepayments,214.614934,Standard

In [66]:
veri_seti.columns

Index(['Age', 'Occupation', 'Annual_Income', 'Monthly_Inhand_Salary',
       'Num_Bank_Accounts', 'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan',
       'Type_of_Loan', 'Delay_from_due_date', 'Num_of_Delayed_Payment',
       'Changed_Credit_Limit', 'Num_Credit_Inquiries', 'Credit_Mix',
       'Outstanding_Debt', 'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')

In [67]:
veri_seti.dtypes

Age                            int32
Occupation                  category
Annual_Income                float64
Monthly_Inhand_Salary        float64
Num_Bank_Accounts              int64
Num_Credit_Card                int64
Interest_Rate                  int64
Num_of_Loan                  float64
Type_of_Loan                category
Delay_from_due_date            int64
Num_of_Delayed_Payment       float64
Changed_Credit_Limit         float64
Num_Credit_Inquiries         float64
Credit_Mix                  category
Outstanding_Debt             float64
Credit_Utilization_Ratio     float64
Credit_History_Age          category
Payment_of_Min_Amount       category
Total_EMI_per_month          float64
Amount_invested_monthly      float64
Payment_Behaviour           category
Monthly_Balance              float64
Credit_Score                  object
dtype: object

In [68]:
veri_seti = pd.get_dummies(veri_seti, columns=['Occupation', "Type_of_Loan", "Credit_Mix", "Credit_History_Age", "Payment_of_Min_Amount", "Payment_Behaviour"])

In [92]:
veri_seti[veri_seti["Payment_Behaviour_!@9#%8"] == True]

,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,...,Payment_of_Min_Amount_NM,Payment_of_Min_Amount_No,Payment_of_Min_Amount_Yes,Payment_Behaviour_!@9#%8,Payment_Behaviour_HighspentLargevaluepayments,Payment_Behaviour_HighspentMediumvaluepayments,Payment_Behaviour_HighspentSmallvaluepayments,Payment_Behaviour_LowspentLargevaluepayments,Payment_Behaviour_LowspentMediumvaluepayments,Payment_Behaviour_LowspentSmallvaluepayments
86,40,33751.270,2948.605833,5,5,20,3.0,16,20.0,11.00,...,False,False,True,True,False,False,False,False,False,False
214,30,34290.120,2697.510000,9,8,25,7.0,52,12.0,13.96,...,False,False,True,True,False,False,False,False,False,False
225,40,28572.390,2210.032500,6,3,15,3.0,25,9.0,4.89,...,True,False,False,True,False,False,False,False,False,False
264,43,58317.000,4664.750000,8,5,9,6.0,18,17.0,16.58,...,False,False,True,True,False,False,False,False,False,False
276,37,42171.980,3764.331667,2,7,10,3.0,4,10.0,2.58,...,False,True,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98053,14,15360.580,981.048333,6,9,25,3.0,48,10.0,12.92,...,False,False,True,True,False,False,False,False,False,False
98117,32,10009.905,646.158750,8,5,20,3.0,12,19.0,11.23,...,False,False,True,True,False,False,False,False,False,False
98118,32,10009.905,646.158750,8,5,20,3.0,13,21.0,11.23,...,False,False,True,True,False,False,False,False,False,False
98216,27,40056.100,3391.008333,6,4,13,3.0,33,13.0,5.02,...,True,False,False,True,False,False,False,False,False,False
98278,24,59868.930,5111.077500,4,7,9,4.0,8,9.0,3.09,...,False,True,False,True,False,False,False,False,False,False

In [69]:
veri_seti

,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,...,Payment_of_Min_Amount_NM,Payment_of_Min_Amount_No,Payment_of_Min_Amount_Yes,Payment_Behaviour_!@9#%8,Payment_Behaviour_HighspentLargevaluepayments,Payment_Behaviour_HighspentMediumvaluepayments,Payment_Behaviour_HighspentSmallvaluepayments,Payment_Behaviour_LowspentLargevaluepayments,Payment_Behaviour_LowspentMediumvaluepayments,Payment_Behaviour_LowspentSmallvaluepayments
6,23,19114.12,1824.843333,3,4,3,4.0,3,8.0,11.27,...,False,True,False,False,False,False,False,False,False,True
9,28,34847.84,3037.986667,2,4,6,1.0,7,1.0,7.42,...,False,True,False,False,True,False,False,False,False,False
12,28,34847.84,3037.986667,2,4,6,1.0,3,1.0,6.42,...,False,True,False,False,False,False,False,False,False,True
13,28,34847.84,3037.986667,2,4,6,1.0,3,0.0,5.42,...,False,True,False,False,True,False,False,False,False,False
15,28,34847.84,3037.986667,2,4,6,1.0,3,4.0,5.42,...,False,True,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98280,31,28796.82,2378.735000,6,6,21,5.0,28,21.0,2.78,...,False,False,True,False,False,False,False,False,True,False
98285,32,28796.82,2378.735000,6,6,21,5.0,30,23.0,2.78,...,False,False,True,False,True,False,False,False,False,False
98299,38,41015.55,3152.962500,0,4,4,1.0,9,1.0,1.58,...,True,False,False,False,False,False,False,False,False,True
98300,38,41015.55,3152.962500,1194,4,4,1.0,9,1.0,1.58,...,False,True,False,False,True,False,False,False,False,False
98303,38,41015.55,3152.962500,0,4,4,1.0,9,2.0,1.58,...,False,True,False,False,False,False,False,False,False,True

In [70]:
X = veri_seti.drop('Credit_Score', axis=1)

y = veri_seti["Credit_Score"]

In [71]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [72]:
model_rf = RandomForestClassifier()
model_gb = GradientBoostingClassifier()

In [73]:
model_rf.fit(X_train, y_train)

RandomForestClassifier()

In [74]:
# model_gb.fit(X_train, y_train)

In [75]:
rf_predictions = model_rf.predict(X_test)
# gb_predictions = model_gb.predict(X_test)

In [76]:
print("Random Forest Accuracy:", accuracy_score(y_test, rf_predictions))
# print("Gradient Boosting Accuracy:", accuracy_score(y_test, gb_predictions))

Random Forest Accuracy: 0.761803084223013

In [77]:
# SayÄ±sal olmayan sÃ¼tunlarÄ± belirle
non_numeric_columns = veri_seti.select_dtypes(exclude=['number']).columns

# SayÄ±sal olmayan sÃ¼tunlarÄ± veri setinden Ã§Ä±kar
veri_seti_numeric = veri_seti.drop(columns=non_numeric_columns)

# AykÄ±rÄ± deÄŸer analizi yapmak iÃ§in tekrar deneyin
Q1 = veri_seti_numeric.quantile(0.25)
Q3 = veri_seti_numeric.quantile(0.75)
IQR = Q3 - Q1

aykiri_gozlemler = ((veri_seti_numeric < (Q1 - 1.5 * IQR)) | (veri_seti_numeric > (Q3 + 1.5 * IQR))).any(axis=1)
aykiri_gozlemler

6        False
9        False
12       False
13       False
15       False
         ...
98280    False
98285    False
98299    False
98300     True
98303     True
Length: 42146, dtype: bool

In [78]:
# AykÄ±rÄ± olmayan gÃ¶zlemleri seÃ§
temizlenmis_veri_seti = veri_seti[~aykiri_gozlemler]

# Yeni veri setini incele
temizlenmis_veri_seti

,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,...,Payment_of_Min_Amount_NM,Payment_of_Min_Amount_No,Payment_of_Min_Amount_Yes,Payment_Behaviour_!@9#%8,Payment_Behaviour_HighspentLargevaluepayments,Payment_Behaviour_HighspentMediumvaluepayments,Payment_Behaviour_HighspentSmallvaluepayments,Payment_Behaviour_LowspentLargevaluepayments,Payment_Behaviour_LowspentMediumvaluepayments,Payment_Behaviour_LowspentSmallvaluepayments
6,23,19114.12,1824.843333,3,4,3,4.0,3,8.0,11.27,...,False,True,False,False,False,False,False,False,False,True
9,28,34847.84,3037.986667,2,4,6,1.0,7,1.0,7.42,...,False,True,False,False,True,False,False,False,False,False
12,28,34847.84,3037.986667,2,4,6,1.0,3,1.0,6.42,...,False,True,False,False,False,False,False,False,False,True
13,28,34847.84,3037.986667,2,4,6,1.0,3,0.0,5.42,...,False,True,False,False,True,False,False,False,False,False
15,28,34847.84,3037.986667,2,4,6,1.0,3,4.0,5.42,...,False,True,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98277,24,59868.93,5111.077500,4,7,9,4.0,8,13.0,6.09,...,False,True,False,False,False,True,False,False,False,False
98278,24,59868.93,5111.077500,4,7,9,4.0,8,9.0,3.09,...,False,True,False,True,False,False,False,False,False,False
98280,31,28796.82,2378.735000,6,6,21,5.0,28,21.0,2.78,...,False,False,True,False,False,False,False,False,True,False
98285,32,28796.82,2378.735000,6,6,21,5.0,30,23.0,2.78,...,False,False,True,False,True,False,False,False,False,False
98299,38,41015.55,3152.962500,0,4,4,1.0,9,1.0,1.58,...,True,False,False,False,False,False,False,False,False,True

In [79]:
X = temizlenmis_veri_seti.drop('Credit_Score', axis=1)

y = temizlenmis_veri_seti["Credit_Score"]

In [80]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [81]:
model_rf = RandomForestClassifier()
model_gb = GradientBoostingClassifier()

In [82]:
model_rf.fit(X_train, y_train)

RandomForestClassifier()

In [83]:
# model_gb.fit(X_train, y_train)

In [84]:
rf_predictions = model_rf.predict(X_test)
# gb_predictions = model_gb.predict(X_test)

In [85]:
print("Random Forest Accuracy:", accuracy_score(y_test, rf_predictions))
# print("Gradient Boosting Accuracy:", accuracy_score(y_test, gb_predictions))

Random Forest Accuracy: 0.7773694390715667

In [86]:
from sklearn.model_selection import GridSearchCV

param_grid = {
    'n_estimators': [50, 100, 200],
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5, 10]
}

# Grid Search modelini oluÅŸturma
grid_search = GridSearchCV(model_rf, param_grid, cv=5, scoring='accuracy')

# Modeli eÄŸitme
grid_search.fit(X_train, y_train)

# En iyi parametreleri ve skoru gÃ¶rÃ¼ntÃ¼leme
print("En iyi parametreler: ", grid_search.best_params_)
print("En iyi doÄŸruluk skoru: ", grid_search.best_score_)

# En iyi modeli seÃ§me
best_model = grid_search.best_estimator_

# Test seti Ã¼zerinde tahmin yapma
y_pred = best_model.predict(X_test)

# Test seti doÄŸruluk skoru
accuracy = accuracy_score(y_test, y_pred)
print("Test seti doÄŸruluk skoru: ", accuracy)

En iyi parametreler:  {'max_depth': None, 'min_samples_split': 2, 'n_estimators': 200}
En iyi doÄŸruluk skoru:  0.765959727195545
Test seti doÄŸruluk skoru:  0.7833655705996132